#elem {
    width: 300px;
    height: 200px;
    border-top: 5px solid blue;
    border-bottom: 5px solid red;
    border-left: 5px solid orange;
    border-right: 5px solid green;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-left: 5px solid red;
    border-right: 5px dotted green;
} 