@charset "utf-8";


a:link{
a{
    color:cyan;
}
a:visited{
    color:green;
    text-decoration:none;
}

a:hover{
    color:red;
    text-decoration:none;
}
a:active{
    color:black;
    text-decoration:underline;
} 