h1 {
    color: green;
    text-align: center;
    font-size: 50px;
}
h2 {
    color: #c10087;
    text-align: center;
    width: 300px;
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    color: red;
}

p {
    font-style: italic;
} 