p {
    color: rgb(255,98,0);
    width: 300px;
    text-align: justify; width: 300px;
}
h1 {
    color: green; 
    text-align: left;
}
h2 {
    color: #c10087;
    text-align: center;
    width: 300px;
}
h3 {
    color: red;
}
td {
    width: 400px; height: 300px;
    text-align: center;
    font-weight: bold;
}
table {
    height: 500px;
    height: 300px;
}
th {
    text-align: left;
    font-weight: normal;
} 