#elem {
    width: 300px;
    height: 300px;
    background: #f1f1f1;
    padding: 25px; /* задаем отступы */
    border: 10px solid green;  /* задаем границу */
    box-sizing: border-box;  /* убираем расширение */
b {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
p {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
h2 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
h3 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
a {
    width: 100px;
    height: 100px;
    border: 1px solid red;
} 