.parent {
    text-align: center;
    padding: 10px 0;
    border: 1px solid red;
}
.parent1 {
    text-align: right;
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
}
.parent2 {
    text-align: right;
    padding: 10px 0;
    border: 1px solid red;
    padding-right: 20px;
.child {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    margin: 5px;
} 