@charset "utf-8";

/*Задание 7*/
#seven li:nth-last-child(2){

.one p:first-of-type {
    color:red;
}

/*Задание 8*/
#eight ul{margin-top:50px; margin-bottom:50px;}
#eight li:only-child{color:red;}

/*Задание 9*/
#nine li:empty {
    border: 0.5px solid blue;
    list-style-type: circle;
    color: blue;
    width: 100px;
.two {
    margin-left:300px;
    margin-top: -338px;
}

#nine li{
    border: 1px solid blue;
    list-style-type: circle;
.two h2:last-of-type {
    color: red;
    width: 100px;
} 