#block a.zzz {
.block a.zzz {
    color: red;
}
#block a.zzz:hover {
.block a.zzz:hover {
    text-decoration: none;
}

<!-- Данный селектор красит все ссылки класса zzz блока block в красный --> 
<!-- В состояния 'hover' класса zzz блока block убирает подчеркивание --> 
<!-- Данный селектор красит все ссылки класса zzz внутри блока класса block в красный --> 
<!-- В состояния 'hover' класса zzz внутри блока класса block убирает подчеркивание --> 