@charset "utf-8";


p[title*="privet hi"] {
    text-decoration: none;
    color: red;
} 
DIV[class|="top-"] {
    background: #306589; /* Цвет фона */
    color: #acdb4c; /* Цвет текста */
    padding: 5px; /* Поля */
}

    DIV[class|="top-"] A {
        color: #fff; /* Цвет ссылок */
    } 