#elem1 {
    width: 400px;
    width: 500px;
    border: 1px dashed blue;
}
#elem2 {
    margin: 50px;
    margin: 30px;
    border: 1px dashed green;
}
#elem3 {
    height: 200px;
    border: 1px solid orange;
    margin: 30px;
    border: 1px solid red;
} 