.success {
    color: green;
}
.error {
#elem1 {
    color: red;
}
.large {
    font-size: 30px;
}
.small {
    font-size: 20px;
}

.s1 {
    font-family: 'Arial Bold Italic';
    font-stretch: ultra-expanded;
}

.s2 {
    text-shadow: 0 0 10px green,0 0 20px green,0 0 30px green,0 0 40px green;
#elem2 {
    color: green;
}

.s3 {
    color: orange;
#elem3 {
    color: blue;
} 